<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starmakers.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".appcomponents.di.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modules.artistrequestinfo.ArtistRequestInfo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
   
        <activity
            android:name=".modules.artistbookingativity.ArtistBookingAcitivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.profleupdate.ProfileUpdate"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.splashscreen.SplashScreen1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.help.ui.HelpDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.frametwentyfour.ui.FrameTwentyfourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auditionsthree.ui.AuditionsThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.requestone.ui.RequestOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookongthree.ui.ArtistBookongThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auditions.ui.AuditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.signuoone.ui.SignUoOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.signuotwo.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.selectionlist.ui.SelectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auditionstwo.ui.AuditionsTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.request.ui.RequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.selectionlistfour.ui.SelectionListFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.studiobookong1.ui.StudioBookong1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistmembershipone.ui.ArtistMembershipOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screenseven.ui.ScreenSevenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpone.ui.HelpOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screenten.ui.ScreenTenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auditionsone.ui.AuditionsOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame313.ui.Frame313Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame316.ui.Frame316Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookong.ui.ArtistBookongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.campaignone.ui.CampaignOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistmembershiptwo.ui.ArtistMembershipTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screenfive.ui.ScreenFiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.campaign.ui.CampaignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookongfive.ui.ArtistBookongFiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.selectionlisttwo.ui.SelectionListTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.help.ui.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screennine.ui.ScreenNineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame315.ui.Frame315Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame311.ui.Frame311Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.selectionlistthree.ui.SelectionListThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookongone.ui.ArtistBookongOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.selectionlistone.ui.SelectionListOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.signuothree.ui.LoginOTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.homecontainer.ui.HomeContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.regstrationdetails.ui.RegstrationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame317.ui.Frame317Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookongtwo.ui.ArtistBookongTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistmembership.ui.ArtistMembershipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.signuofour.ui.SignUoFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.artistbookongfour.ui.ArtistBookongFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frametwentythree.ui.FrameTwentythreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame312.ui.Frame312Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auditionsfour.ui.AuditionsFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.signuo.ui.SignUoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.paymentpage.ui.PaymentPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screeneleven.ui.ScreenElevenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helptwo.ui.HelpTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.screeneight.ui.ScreenEightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.frame314.ui.Frame314Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>